* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    width: 100%;
  }

  .wrapper {
    background-image: url(/images/dining.png);
    position: relative;
    background-size: cover;
    line-height: 1.5rem;
  }

  .wrapper ::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.6);
  }

  nav {
    background: rgb(6, 17, 70);
    height: 80px;
    width: 100%;
  }
  
  label.logo {
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 500;
    line-height: 80px;
    padding: 0 50px;
    text-transform: none;
    cursor: pointer;
  } 

.form-button {
    background-color: white;
    color: white;
    border-radius: 9%;
    padding: 3px 12px 3px 12px;
    cursor: pointer;
  }

  .form-button:hover{
    border: 2px solid white;
    transition: 0.3s ease;
  }
  
  nav ul {
    gap: 30px;
    float: right;
    margin-right: 20px;  
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: black;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
a:hover {
    background-color: rgb(0, 105, 153);
}

.section-container {
    margin: auto;
    background-color: rgb(9, 75, 0);
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/* Body*/

.p-container {
    margin-top: 3%;
    color: rgb(0, 0, 0);
    line-height: 1.4rem;
}

.p-container h1 {
    text-align: center;
}

.p-container p {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: center;
}

section {
    margin-top: 2%;
    color: rgb(0, 0, 0);
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: black(230, 230, 230);
    line-height: 1.4rem;
}

.main-container img {
    width: 100%; 
    height: 100%;
    border-radius: 5%;
}

.main-container img:hover {
    border-radius: 8% 19%;
    transition: 0.2s ease;
    border: 2px solid rgb(255, 255, 255);
}



.one-container {
    width: 35%;
    height: 300px;
}

.two-container {
    width: 50%;
    margin-left: 10%;
    margin-top: 5%
}

footer {
    text-align: center;
    background-color: rgb(34, 42, 49);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(230, 230, 230);
}
